@charset "UTF-8";
/************************************************************************
                                  Colors
**********************************************************************/
/************************************************************************
                                Typography
**********************************************************************/
/************************************************************************
                                Media Queries
**********************************************************************/
/************************************************************************
                                Media Queries END
**********************************************************************/
/************************************************************************
                                Gradients
**********************************************************************/
/************************************************************************
                                  Colors
**********************************************************************/
/************************************************************************
                                Typography
**********************************************************************/
/************************************************************************
                                Media Queries
**********************************************************************/
/************************************************************************
                                Media Queries END
**********************************************************************/
/************************************************************************
                                Gradients
**********************************************************************/
/*
  Responsive blocks
 */
.home_page_books {
  overflow: hidden;
  background-color: #fbeec1;
  border: 1px solid #fbeec1;
  margin: 1%;
  border-radius: 10px;
}
@media only screen and (min-device-width: 920px) {
  .home_page_books {
    height: 230px;
    width: 150px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .home_page_books {
    height: 350px;
    width: 230px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .home_page_books {
    height: 250px;
    width: 170px;
  }
}
.home_page_books:hover .book_block_img {
  margin-top: -70px;
}

.book_block_img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom: 1px solid #fbeec1;
  transition: all 0.5s ease;
}

.book_block_title {
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin-left: 3%;
}

.book_block_info {
  margin-top: -20px;
  margin-left: 3%;
  color: #3a3a3a;
  font-size: 12px;
  font-family: Arial, sans-serif;
}

/*
  Responsive blocks END
*/
/************************************************************************
                                  Colors
**********************************************************************/
/************************************************************************
                                Typography
**********************************************************************/
/************************************************************************
                                Media Queries
**********************************************************************/
/************************************************************************
                                Media Queries END
**********************************************************************/
/************************************************************************
                                Gradients
**********************************************************************/
.form-container {
  position: absolute;
  background-color: #e8e8e8;
  padding: 5%;
  border-style: solid;
  border-color: rgba(199, 198, 199, 0.31);
  border-width: 0 1px 1px 1px;
}
@media only screen and (min-device-width: 920px) {
  .form-container {
    width: 40%;
    left: 50%;
    margin-left: -20%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .form-container {
    width: 100%;
    padding: 2% 20% 20% 20%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .form-container {
    width: 100%;
  }
}

.submit-btn {
  width: 360px;
}

.red_msg {
  color: red;
}

.field_errors_msg {
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: rgba(99, 0, 0, 0.84);
}

* {
  margin: 0;
  padding: 0;
}

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}

.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}

.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}

.rate:not(:checked) > label:before {
  content: "★ ";
}

.rate > input:checked ~ label {
  color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

#goodreads-widget {
  font-family: georgia, serif;
  padding: 18px 0;
  width: 100% !important;
}

#goodreads-widget h1 {
  font-weight: normal;
  font-size: 16px;
  border-bottom: 1px solid #BBB596;
  margin-bottom: 0;
}

#goodreads-widget a {
  text-decoration: none;
  color: #660;
}

#the_iframe {
  background-color: #fff;
  width: 100% !important;
  height: 1000px !important;
}

#goodreads-widget a:hover {
  text-decoration: underline;
}

#goodreads-widget a:active {
  color: #660;
}

#gr_footer {
  width: 100%;
  border-top: 1px solid #BBB596;
  text-align: right;
}

#goodreads-widget .gr_branding {
  color: #382110;
  font-size: 11px;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/************************************************************************
                                  Colors
**********************************************************************/
/************************************************************************
                                Typography
**********************************************************************/
/************************************************************************
                                Media Queries
**********************************************************************/
/************************************************************************
                                Media Queries END
**********************************************************************/
/************************************************************************
                                Gradients
**********************************************************************/
.left-panel {
  background-color: rgba(182, 211, 207, 0.84);
}

.profile-header {
  background-color: #a0a0a0;
  height: 10%;
}

/************************************************************************
                                  Colors
**********************************************************************/
/************************************************************************
                                Typography
**********************************************************************/
/************************************************************************
                                Media Queries
**********************************************************************/
/************************************************************************
                                Media Queries END
**********************************************************************/
/************************************************************************
                                Gradients
**********************************************************************/
* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  max-width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  overflow-x: hidden;
}

nav {
  z-index: 2;
}

p:hover, p:visited, p:active, a:hover, a:visited, a:link, a:active {
  text-decoration: none !important;
}

@media only screen and (min-device-width: 920px) {
  #search-bar {
    margin-right: 15%;
  }
}
@media only screen and (min-device-width: 920px) {
  #search-bar > input {
    width: 600px;
  }
}
#search-bar > input:invalid {
  box-shadow: none;
}
@media only screen and (min-device-width: 920px) {
  #search-bar > button {
    margin-left: -40px;
    border: none;
    background-color: rgba(255, 253, 255, 0);
  }
}

.star-ratings-small {
  unicode-bidi: bidi-override;
  color: #4e504e;
  font-size: 15px;
  height: 15px;
  width: 50px;
  position: relative;
  padding-bottom: 18px;
}

.star-ratings-large {
  unicode-bidi: bidi-override;
  color: rgba(91, 93, 91, 0.42);
  font-size: 30px;
  height: 20px;
  width: 60px;
  position: relative;
  margin: -15px 0 15px 0;
}

.star-ratings-top {
  color: gold;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  width: 0;
}

.star-ratings-bottom {
  z-index: 0;
}

/*# sourceMappingURL=main.css.map */
