{% extends "index.html" %}

{% block title %}{{ user.username }}{% endblock %}

{% block body %}
<div class=" row min-vh-100">
    <div class="col-2 text-center left-panel">
        <div class="p-4 avatar mx-auto">
            <!-- Todo: implement "change profile image" feature -->
            <img alt="avatar mx-auto" class="rounded-circle img-fluid" src="{{ url_for('static', filename='images/profile-image-placeholder.png') }}">
        </div>
        <div class="btn-group-vertical w-100 text-left" role="group" aria-label="Vertical button group">
            <a type="button" class="btn btn-grey shadow-none w-100 text-left"><i class="fas fa-user"></i> {{ user.username }}</a>
            <a type="button" class="btn btn-grey shadow-none w-100 text-left" href="{{ url_for('user.bookshelf') }}"><i class="fas fa-book"></i> Bookshelf</a>
            <a type="button" class="btn btn-grey shadow-none w-100 text-left" href="{{ url_for('user.settings') }}"><i class="fas fa-cog"></i> Settings</a>
        </div>
    </div>
    <div class="col-10">
        <div class="row profile-header">
            <h1 class="p-3"> {{section_tittle}}</h1>
        </div>
        {% block profile_body %}{% endblock %}
    </div>
</div>
{% endblock %}