{% with messages = get_flashed_messages(with_categories=true) %}
  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible m-0 p-1" role="alert" id="message-flash">
        <button type="button" class="close m-0 p-1" data-dismiss="alert" id="close-flash-btn">&times;</button>
        {{ message }}
        {% if category == 'warning' %}
            <span>Didn't get the email? <a href="{{ url_for('account.resend_confirmation') }}">Resend</a>.</span>
        {% endif %}
       </div>
    {% endfor %}
  {% endif %}
{% endwith %}