<!-- Footer -->
<footer class="page-footer font-small elegant-color">
  <!-- Footer Links -->
  <div class="container text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mx-auto">
        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-center">About</h5>
        <ul class="list-unstyled text-center">
            <li>
               This site is a part of a personal project. The functionalities are as follows: Search books, check ratings and reviews.
               Creating a user account. Leave your own rating and reviews. Easily add or remove from your bookshelf.
            </li>
            <br>
            <li >
                This site is not actively maintained. However, feel free to use it as you wish. If you'd like to get the source code
                of this site and work/expand on it yourself here is the Github
                <a target="_blank" href="https://github.com/Dforrunner/Book-rate-review">
                    <span class="font-italic text-blue underline-on-hover">LINK</span>
                </a>.
            </li>
            <li>
            <br>
            <!-- Github -->
            <a target="_blank" href="https://github.com/Dforrunner/Book-rate-review">
                <i class="fab fa-github fa-lg white-text fa-2x"></i>
            </a>
            </li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2019 Copyright: Book R&R</div>
  <!-- Copyright -->
  </div>
</footer>
<!-- Footer -->