<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.css') }}">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='MDBootstrap/css/bootstrap.min.css') }}">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='MDBootstrap/css/mdb.min.css') }}">
    <!-- My CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/css/main.css')}}">

    <title>{% block title %}{% endblock %}</title>

</head>
<body>

    {% include 'flash_msg.html' %}
    {% include 'header.html' %}
    <div class="min-vh-100">
        {% block body %}{% endblock %}
    </div>
    {% include 'footer.html' %}


    <!-- JQuery -->
    <script type="text/javascript" src="{{ url_for('static', filename='MDBootstrap/js/jquery-3.4.1.min.js') }}"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{{ url_for('static', filename='MDBootstrap/js/popper.min.js') }}"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='MDBootstrap/js/bootstrap.min.js') }}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='MDBootstrap/js/mdb.min.js') }}"></script>
    <!-- Flask Flash Jquery Script -->
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/flash_msg.js') }}"></script>
    <!-- Alerts Script -->
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/alerts.js') }}"></script>
</body>
</html>