@import "modules/variables";
@import "modules/mixins";

.book-add-rm-group{
  > .remove-book-btn{
    display: none;
  }
  &:hover{
    > .book-added-btn{
      display: none;
    }
    > .remove-book-btn{
      display: inline;
    }
  }
}