@import "modules/variables";
@import "modules/mixins";

.left-panel{
  background-color: $color2;
}

.profile-header{
  background-color: rgba(241, 241, 241, 0.44);
  height: 10%;
}

//Settings
.sb-center-text{
  margin-top: 110%;
  font-weight: bold;
  color: white;
}