/************************************************************************
                                  Colors
**********************************************************************/
$primary-color: #afe3dd;
$secondary-color: rgba(182, 211, 207, 0.84);
$background-color: #fbeec1;
$border-color: #fbeec1;
$color1: white;
$color2: #3a3a3a;
$text: #3a3a3a;

/************************************************************************
                                Typography
**********************************************************************/
$primary-font: Arial, sans-serif;
$secondary-font: Apple Chancery, cursive;

