{% extends "index.html" %}
{% block title %}Book Details{% endblock %}

{% block body %}
    <div class="container p-4">
        <div class="row">
            <div class="col-4">
                <img class="img-fluid" src="{{"https://" + image_url}}">
            </div>
            <div class="col-8">
                <h3 class="">{{ title }}</h3>
                <div class="row">
                    <!-- TODO: fix percents. star rating not showing the right star rating -->
                    <div class="star-ratings-large col-2">
                        <div class="star-ratings-top" style="width: {{ review_stat.percent_avg_rating|safe }}"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                        <div class="star-ratings-bottom"><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span></div>
                    </div>
                    <div class="col-1 pl-4">{{ review_stat.rating_count|safe }}</div>
                </div>

                <a class="btn btn-elegant" href="{{ url_for('add_review') }}">Review & Rate</a>

                <table class="table">
                    <tbody>
                        <tr>
                          <th scope="row">ISBN</th>
                          <td>{{ review_stat.isbn|safe }}</td>
                        </tr>
                        <tr>
                          <th scope="row">ISBN13</th>
                          <td>{{ review_stat.isbn13|safe }}</td>
                        </tr>
                        <tr>
                          <th scope="row">Total reviews</th>
                          <td>{{ review_stat.review_count|safe }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {{ review_widget|safe }}
    </div>
{% endblock %}
