{% extends "header.html" %}
{% block title %}Home{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        {% for book in books %}
            <a class="home_page_books" href="{{ url_for('book_page', isbn=book.isbn, title=book.title, author=book.author, year=book.year)}}">
                <img class="book_block_img" src="{{"http://covers.librarything.com/devkey/d90b4ba3c996ef48c8e7b1358d1452c8/large/isbn/" + book.isbn}}">


                <p class="text-dark book_block_title">{{ book.title }}</p>

                <div class="book_block_info">
                    <div class="star-ratings">
                        <div class="star-ratings-top" style="width: {{ 3 }}"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                        <div class="star-ratings-bottom"><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span></div>
                    </div>
                    <p>
                       By: {{ book.author }}<br>
                       Year: {{ book.year }}
                    </p>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
